:root {
  --header-color: #ffffff;
  --logo-color: #000000;
  --background-color: #E5E5E5;
  --second-background-color: #2F303A;
  --thirt-background-color: #F5F4FA;
  --text-color: #757575;
  --second-text-color: #212121;
  --main-font: "open sans", sans-serif;
  --accent-color: #2196F3;
  --icon-color: #afb1b8;
  --footer-text: rgba(255, 255, 255, 0.6);
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  --button-hover-color: #188ce8;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ------------HEADER------------*/

.header {   
    border-bottom: 1px solid #ECECEC;
    align-items: center;
}

.main-header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.header-list .link.current {
    color: var(--accent-color);
    position: relative;
}

.header-list .link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;


    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    transition: color var(--transition-animation);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list .header-item + .header-item {
    margin-left: 50px;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .contacts-item + .contacts-item {
    margin-left: 50px;
}

.contacts-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
    color: var(--text-color);

    transition: color var(--transition-animation);
}


.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.contacts .icon {
    margin-right: 10px;
    fill: currentColor;
    align-self: center;
}

/* ------------HERO------------*/

.hero {
    padding: 200px 0;
    
    background-color: var(--second-background-color);  
    text-align: center; 
    height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid var(--logo-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    }

.hero-title {
    margin: 0 auto 30px auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--header-color);  
    text-transform: uppercase;
    text-align: center;
    max-width: 696px;
    }
 
.hero-btn {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;

    font-family: inherit;   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--header-color);
    text-align: center;

    transition: background-color var(--transition-animation);
 }

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-hover-color);
}

/* ------------ABOUT------------*/
  
.about, .carts, .team, .clients {
    padding-top: 94px;    
}

.about-list {
    display: flex;
}

.about-item {
    width: 270px;
}

.about-list .about-item + .about-item {
    margin-left: 30px;
}

.about-title {
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-transform: uppercase;
    
}

.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);    
}

.icon-thumb {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

    background-color: var(--thirt-background-color);
    border-radius: 4px;
}

.carts, .team, .clients {
    padding-bottom: 94px;
}

.carts-list {
    display: flex;
}

.carts-list .img + .img {
    margin-left: 30px;
 }
 
.carts-title, .team-title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-align: center;    
}

.img {
    position: relative;    
}

.carts-list .img img {
    display: block;
}

.carts-box {
    position: absolute;
    bottom: 0 ;
    left: 0;

    width: 100%;

    background-color: rgba(47, 48, 58, 0.8);
}

.carts-caption {
    padding: 27px 0;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--header-color);
}

.team-list {
    display: flex;
    margin-left: -30px;
}

.team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    
    text-align: center;
    background-color: var(--header-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team {
    background-color: var(--thirt-background-color);
}

.team-box {
    padding: 30px 0;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 10px;
 }

.team-text {      
    margin-bottom: 16px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);    
 }

 .icon-social {
    display: flex;
    justify-content: center;
 }

 .icon-social .item + .item {
    margin-left: 10px;
 }

 .social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    
    color: var(--icon-color);
    border-radius: 50%;

    transition: background-color var(--transition-animation),
            color 250ms var(--transition-animation);
 }

 .social-link:hover,
 .social-link:focus {
    background-color: var(--accent-color);
    color: var(--header-color);
 }

 .social-link .icon {
    fill: currentColor;
 }

/* ------------CLIENTS------------*/

.client-title {
    margin-top: 0;
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.client-item>.link {
    display: flex;
    padding: 16px 32px;
    width: 170px;
        height: 92px;
        justify-content: center;
        align-items: center;

    color: var(--icon-color);
    outline: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: color var(--transition-animation), outline var(--transition-animation);
}

.client-item>.link:hover,
.client-item>.link:focus {
    color: var(--accent-color);
    outline: 1px solid var(--accent-color);
}

.client-list {
    display: flex;
    flex-wrap: wrap;
}

.client-list>li+li {
    margin-left: 30px;
}

.client-item .icon {
    fill: currentColor;
}

 /* ------------FOOTER------------*/

.footer {    
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--second-background-color);
 }

 .ft {
    display: flex;
 }

 .footer-box {
    margin-right: 70px;
 }

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);    
 }

.footer-logo span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
 }

.address {
    margin-top: 20px;
    font-style: normal;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color);
 }

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text);    

    transition: color var(--transition-animation);
} 

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.social-title, .subscribe-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--header-color);
}

.footer-social .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--header-color);

    transition: background-color var(--transition-animation);
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
    background-color: var(--accent-color);
}

.subscribe {
    display: flex;
}

.footer-subscribe {
    margin-left: 93px;
}

.subscribe-input {
    width: 358px;
    height: 50px;
    margin-right: 12px; 
    padding-left: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: var(--footer-text);
    background-color: transparent;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe-button {
    min-width: 200px;
    height: 50px;
    
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    
    font-size: 16px;
    line-height: 1.88;    
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--header-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-icon {
    margin-left: 10px;
    fill: currentColor;
}

/* ------------PORTFOLIO------------*/

.portfolio {
    padding: 94px 0;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;    
}

.filters .filters-item + .filters-item {
    margin-left: 8px;
}

.filters-btn {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
        
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;letter-spacing: 0.03em;
    background-color: var(--thirt-background-color);
    color: var(--second-text-color);  
    
    transition: background-color var(--transition-animation),
            color var(--transition-animation), box-shadow var(--transition-animation);
}

.filters-btn:hover,
.filters-btn:focus {
    background-color: var(--accent-color);
    color: var(--header-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);    
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.projects-img {
    display: block;
}

.projects-item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;

    text-align: left;
}

.projects-item .text {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.projects-title {
    margin-bottom: 4px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
}

.projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;letter-spacing: 0.03em;
    color: var(--text-color);
}

.projects .projects-item:hover,
.projects .projects-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform var(--transition-animation);
}

.projects .decoration {
    display: inline-block;
    
    transition: box-shadow var(--transition-animation);
}

.projects .link:hover .overlay,
.projects .link:focus .overlay {
    transform: translateY(0);
}

.pre-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    
    color: var(--header-color);
}

/* ------------MODAL------------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    
    transition: opacity var(--transition-animation);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;

    background: var(--header-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
    transition: transform var(--transition-animation),
        opacity var(--transition-animation),
        visibility var(--transition-animation);
}

.btn-closed {
    position: absolute;
    display: inline-flex;
    top: 8px;
    right: 8px;
    padding: 6px;

    width: 30px;
    height: 30px;

    background: var(--header-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.btn-closed:hover {
    fill: var(--accent-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4, 0.1);
    opacity: 0;
}

.form {
    padding: 40px;
}

.form-title {
    margin-top: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--second-text-color);
}

.form-label {
    position: relative;
    
    display: block;    
}

.form-label + .form-label {
    margin-top: 10px;
}

.form-comment {
    width: 100%;
    resize: none;
    padding: 12px 16px;
}

.form-comment,
.form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-animation);
}

.form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
}

.form-input:focus-visible {
    outline: 1px solid var(--accent-color);
}

.form-label:focus-within>.form-input,
.form-label:hover>.form-input {
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.form-label:focus-within>.form-icon,
.form-label:hover>.form-icon {
    fill: var(--accent-color);
}

.form-text {
    display: block;
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--text-color);
}

.form-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;

    transition: fill var(--transition-animation);
}

.form-comment:focus-visible {
    outline: 1px solid var(--accent-color);
}

.form-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);;
}

.form-label:focus-within>.form-comment,
.form-label:hover>.form-comment {
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.consent-label {
    display: flex;
    margin-left: 12px;
    align-items: center;
    
    margin-bottom: 30px;
    margin-top: 20px;
        
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}

.check-input {
    position: absolute;    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.check-box {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--second-text-color);
    border-radius: 2px;
    margin-right: 7px;
}

.check-input:checked + .check-box {
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    border-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-color: var(--accent-color);
}

.consent-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
}

.consent-link {
    color: var(--accent-color);
    margin-left: 4px;
}

.form-button {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    height: 50px;
        
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
        
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
        
    color: var(--header-color);
                
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-animation);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--button-hover-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}